@use '../abstracts/mixins' as *;
.l-deal-subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #f67174;
    margin-bottom: 18px;
    display: block;
}
.l-deal-title {
    font-size: 60px;
    color: #222222;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 33px;
    @include mq(xs) {
        font-size: 30px;
    }
    & span {
        font-weight: 600;
        color: #f67174;
    }
}
.l-deal-desc {
    font-size: 16px;
    color: #222222;
    margin-bottom: 0;
    line-height: 1.875;
}
.deal-title-area {
    border-bottom: 1px solid #ebebeb;
}
.ending-countdown {
    & .countdown-inner {
        & ul {
            & li {
                display: inline-block;
                font-size: 12px;
                color: #999999;
                text-transform: uppercase;
                font-weight: 500;
                margin-right: 15px;
                & span {
                    font-weight: 500;
                    font-size: 36px;
                    color: #272727;
                    display: inline-block;
                    margin-right: 3px;
                }
            }
        }
    }
}
.ending-d-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    color: #f67174;
}
.deal-img-space {
    & img.deal-img-main {
        margin-left: -62px;
        @include mq(md) {
            max-width: 500px;
        }
    }
}
.l-shape-wrapper {
    &.wrap-1 {
        position: absolute;
        left: -251px;
        top: 85px;
        @include mq(xl) {
            left: -151px;
        }
    }
    &.wrap-2 {
        position: absolute;
        right: 109px;
        top: -118px;
        @include mq(sm) {
            top: -24px;
            right: 160px;
            z-index: -1;
        }
        @include mq(md) {
            display: none;
        }
        @include mq(lg) {
            display: none;
        }
        & img {
            @include mq(sm) {
                max-width: 150px;
            }
        }
    }
    &.wrap-3 {
        position: absolute;
        top: 12px;
        left: 92px;
        @include mq(sm) {
            z-index: -1;
            left: 36px;
        }
        @include mq(md) {
            left: 0;
        }
         & img {
            @include mq(sm) {
                max-width: 150px;
            }
        }
    }
    &.wrap-4 {
        position: absolute;
        right: 273px;
        top: 150px;
    }
    &.wrap-5 {
        position: absolute;
        bottom: -52px;
        left: 183px;
        @include mq(sm) {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        @include mq(md) {
            left: 0;
        }
        & img {
            @include mq(sm) {
                max-width: 375px;
            }
        }
    }
}
.l-area-padding {
    @include mq(xs) {
        padding-right: 0;
        margin-bottom: 90px;
    }
    @include mq(sm) {
        padding-right: 0;
        margin-bottom: 90px;
    }
    @include mq(md) {
        padding-right: 0;
        margin-bottom: 90px;
    }
    @include mq(lg) {
        margin-bottom: 90px;
    }
    @include mq(xl) {
        margin-bottom: 0;
    }
}
.deal-img-space-5 {
    @include mq(sm) {
        margin-left: 70px;
    }
}