@use '../abstracts/mixins' as *;

// faq css start


.faq{
    &__wrapper{
        padding-right: 18px;
        &-right{
            padding-left: 18px;
            padding-right: 0;

            @media #{$md, $sm, $xs}{
                padding-left: 0;
                margin-top: 50px;
            }
        }
    }
    &__title{
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 35px;
        &::after{
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #222;
        }
    }
    &__accordion{
        & .accordion-item{
            margin-bottom: 25px;
        }
        & .accordion-button{
            font-size: 14px;
            text-transform: capitalize;
            color: #222;
            font-weight: 600;
            padding: 0;
            border: 0;
            position: relative;
            box-shadow: none;
            background: #fff;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ebebeb;
            padding-right: 30px;
            &::after{
                position: absolute;
                right: 0;
                top: 40%;
                transform: translateY(-50%);
                content: '\f068';
                font-family: 'Font Awesome 5 Pro';
                background: none;
                font-size: 14px;
                color: #222;
                font-weight: 400;
                height: inherit;
            }
            &.collapsed{
                color: #222;
                &::after{
                    content: '\f067';
                }
            }
        }
        & .accordion-item:first-of-type .accordion-button{
            border-radius: 0;
        }
        & .accordion-collapse{
            border: 0;
        }
        & .accordion-body{
            padding: 0;
        }
        
        & .product-description-wrapper{
            & p{
                color: #666666;
                line-height: 30px;
            }
            
        }
    }
}
