@use '../abstracts/mixins' as *;

.page{
    &__title{
        font-size: 80px;
        color: #222;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 20px;
        @media #{$xs}{
            font-size: 50px;
        }
        &-pre{
            font-size: 16px;
            color: #666666;
            display: inline-block;
            margin-bottom: 5px;
        }
        &-wrapper{
            & p{
                font-size: 16px;
                color: #666666;
                padding: 0 80px;

                @media #{$xxl}{
                    padding: 0 70px;
                }
                @media #{$md, $sm, $xs}{
                    padding: 0;
                }
            }
        }
    }
}