
$type-scale: (
    fweight: (
        elight: 200,
        light: 300,
        regular: 400,
        medium: 500,
        sbold: 600,
        bold: 700,
        ebold: 800,
        black: 900,
    ),
    fsize: (
        normal: 14px,
        heading: 55px,
        subheading: 45px,
    ),
)